#weibo-body {
	width: 760px;
}

.metro .tile .textover-wrapper.transparent {
	background-color: rgba(0, 0, 0, 0.3);
}

.metro .tile.wide.imagetext.wideimage {
	width: 489px;
	height: 200px;
}

.metro .tile.wide .textover-wrapper,.metro .tile.widepeek .textover-wrapper
	{
	width: 449px;
}

.metro .tile.squarepeek {
	height: 412px;
	width: 231px;
}

.metro .tile.squarepeek .text-inner {
	width: auto;
}

.metro .tile.squarepeek img {
	width: 231px;
	max-width: 231px;
	height: 200px;
	max-height: 200px;
}

.metro .tile.square.image {
	width: 231px;
}

.metro .tile.square.image img {
	max-width: 100%;
}

.metro .tile.square .textover-wrapper,.metro .tile.squarepeek .textover-wrapper
	{
	width: 191px;
}