#sidebar {
	background-color: rgba(11,166,255,0.5);
}
.ie7 #sidebar, .ie8 #sidebar {
	filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#660BA6FF', endColorstr='#660BA6FF')";
}
#section-poster {
	background: transparent;
}

#section-poster .intro {
	margin-top: 150px;
	color: #FFF;
	background-color: rgba(0,175,241,0.4);
}
.ie7 #section-poster .intro, .ie8 #section-poster .intro {
	filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6600AFF1', endColorstr='#6600AFF1')";
}
#section-poster .intro .inner{
	padding:10px;
}

#section-poster .tags {
	margin: 0;
}

#section-poster .tags li {
	list-style: none;
	float: left;
	color: #FFFFFF;
	padding: 0 4px;
	/*margin: 0 4px 4px 0;*/
	margin: 4px 4px 0 0;
	float: left;
}