#section-poster {
	background: transparent;
}

#section-poster .intro {
	margin-top: 300px;
	color: #FFF;
}

#section-poster .tags {
	margin: 0;
}

#section-poster .tags li {
	list-style: none;
	float: left;
	color: #FFFFFF;
	padding: 0 4px;
	/*margin: 0 4px 4px 0;*/
	margin-right: 4px;
	float: left;
}