body {
	background: none repeat scroll 0 0 #FFF;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

#wrapper {
	padding: 0;
	position: relative;
}

#sidebar {
	background-color: #16A085;
	height: 120%;
	left: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 150px;
	z-index: 2;
}

#container {
	margin-left: 150px;
	margin-right: 0;
	margin-top: 0;
	min-height: 100%;
	padding: 0;
}

/* Navigation */
#logo {
	margin: 12px 0;
}

#logo a {
	display: block;
}

#hotline {
	text-align: center;
}

#hotline .phone {
	color: #FF770D;
	font-family: Georgia;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

#hotline .tip {
	color: #FFFFFF;
	font-size: 11px;
	margin: 0;
}

#nav {
	margin-top: 10px;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav ul li {
	color: #F1F1F1;
	cursor: pointer;
	display: inline-block;
	line-height: 22px;
	filter: alpha(opacity =   40);
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
	opacity: .4;
	padding: 8px 0 8px 15px;
	text-transform: uppercase;
	width: 90%;
}

#nav ul li.active {
	filter: alpha(opacity =   100);
	opacity: 1;
}

#nav ul li.last {
	padding-right: 0px;
}

#nav li span {
	font-size: 14px;
	padding-left: 10px;
	display: inline-block;
	height: auto;
	opacity: 1;
	overflow: visible;
	width: auto;
}

.section {
	background-color: #FFF;
	position: relative;
	padding: 10px 0 20px;
}

.section .content {
	padding: 8px 20px
}

.section .title hr {
	margin-top: 0;
}

#prevslide,#nextslide {
	top: 300px;
}

.bg0 {
	background-color: #87C116;
}

.bg1 {
	background-color: #00AFF1;
}

.bg2 {
	background-color: #0BA6FF;
}

.bg3 {
	background-color: #FC8E00;
}

.bg4 {
	background-color: #04B1E0;
}

.bg5 {
	background-color: #FFC400;
}

.bg6 {
	background-color: #1D86C9;
}

.section .big-hotline {
	color: #FFF;
	font-family: Georgia;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
}

.section .big-hotline span {
	/*color:#FF770D;*/
	
}

.section.style1 {
	background-color: #009DD3;
}

.section.style1 * {
	color: #FFF;
}

.overflow-hidden {
	overflow: hidden;
}
.thumbnail-style {
	padding: 5px;
}

.thumbnail-style:hover {
	box-shadow: 0 0 8px #DDDDDD;
	transition: box-shadow 0.2s ease-in-out 0s;
}

.thumbnail-style h3 {
	margin: 5px 0 0;
}

.thumbnail-style h3 a {
	font-size: 20px;
}

.thumbnail-style h3 a:hover {
	color: #72C02C;
	text-decoration: none;
}

.thumbnail-style .thumbnail-img {
	position: relative;
}

.thumbnail-style a.btn-more {
	background: none repeat scroll 0 0 #72C02C;
	bottom: 10px;
	color: #FFFFFF;
	display: inline-block;
	padding: 1px 6px;
	position: absolute;
	right: -10px;
}

.thumbnail-style a.btn-more:hover {
	box-shadow: 0 0 0 2px #377500;
	text-decoration: none;
}

.thumbnail-style:hover a.btn-more {
	right: 10px;
}

.thumbnail-kenburn img {
	left: 10px;
	margin-left: -10px;
	position: relative;
	transition: all 0.8s ease-in-out 0s;
}

.thumbnail-kenburn:hover img {
	transform: scale(1.2) rotate(2deg);
}