.page-header button.action {
	float: right;
	margin-top: -40px;
	/* position: absolute;
	right: 0;
	top: 0;*/
}

.editable-input input[type="checkbox"],.editable-input input[type="radio"]
	{
	opacity: 1;
	position: relative;
}

.editable-container.popover {
	z-index: 9999;
}

#sidebar .tree .tree-item,#sidebar .tree .tree-folder {
	border: none;
}

#sidebar .tree .tree-folder .tree-folder-header,#sidebar .tree .tree-item
	{
	height: auto;
}

#page-content {
	padding-bottom: 0;
}

.collapse {
	display: none;
}

.collapse.in {
	display: block;
}

.column {
}

.column .widget-box {
	margin-bottom: 20px;
}

.column .ui-sortable-placeholder {
	border: 1px solid #D6E9C6;
	background: #DFF0D8;
	visibility: visible !important;
	height: 200px !important;
}

.column .ui-sortable-placeholder * {
	visibility: hidden;
}